/* laptop dcevice */
@media screen (max-width:1200px){
    banner-content h1{
            font-size: 48px;
            

    
    }
    .service-card {
        padding:80px 20px;

    }
    .story-image img {
        height:100%;
        object-fit:cover;
        border-radius: 30px ;

    }

}

/* tablet device */
@media screen (max-width:1024px){
         .banner-content{
                text-align: center;
         }


        .banner-content h1{
            font-size: 36px;

     #banner {
          
           
          
         
           
           flex-direction:reverse;



     }
        }

.banner-content{
            width:100%;
        }
.banner-image img{
            width: 100%;

        }
#service-card-container{
        flex-direction: column;
        .service-card {
                max-width: 100%;
        }

}
.story-card{
        flex-direction: column;
}
.story-content{
        width: 100%;

}
.story-image{
        width: 100%;

}
    

    

 

/* mobile dcevice up to 425px */

@media screen and (max-width:640px){
        .btn,
        .btn-white{
             padding:12px 20px;  
        }
        
         .banner-content{
                text-align: center;
         }


        .banner-content h1{
            font-size: 36px;


}
.heading-content h2{
        font-size: 30ppx;

}
 #country-card-container{
        flex-direction:column;
 }
 #country-card-container h2{
      text-align: center;  
 }


}