/* laptop dcevice */
@media screen (max-width:1200px){
    banner-content h1{
            font-size: 48px;
            

    
    }
    .service-card {
        padding:80px 20px;

    }

}

/* tablet device */
@media screen (max-width:1024px){
     #banner {
          
           
          
         
           
           flex-direction:reverse;



     }
        }

.banner-content{
            width:100%;
        }
.banner-image img{
            width: 100%;

        }
    

    

 

/* mobile dcevice up to 425px */
@media screen and (max-width:640px){
         banner-content h1{
            font-size: 36px;


}